.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

body{
    margin: 0px;
    background-color: #F5F5F5;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #ff1493;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;

}

.item{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

a:link{
    color: #ffffff;
}

a:visited{
    color: #ffffff;
}

.item:hover{
    transform: scale(1.2);
}

.bodyimg{
    position: relative;
}

.bodyimg p{
    color: #f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50% , -50%);
}
